
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  
  
h5,h6{
 color: black !important;
 font-family: 'Pacifico', cursive !important;

}
.cursor{
    cursor: pointer;
    color: white;




}
.text-decorator-none{
    text-decoration: none;
   

}
.bar{


    background:#03e0e7 !important;
    
}

