.box1{
    
        
        background:#05063b !important;
        height: 100px ;



}
.redes{
        font-Size: 60px;
         color: rgb(3, 3, 3);





}
.box2{



   background:#000000; 
   height:60px;
   color:azure !important;
}
.textos{
    color: rgb(8, 8, 8) ;




}
.textos2{
        color: white !important;
        font-size: none ;



}
.subtitle2{



        color: white !important;
}